In [1]:
import os
import json
import pandas as pd

base_dir = '../../salmon_segmentation/out/2.라벨링데이터'
json_files = []

for subdir in os.listdir(base_dir):
    subdir_path = os.path.join(base_dir, subdir)
    
    if os.path.isdir(subdir_path):        
        for filename in os.listdir(subdir_path):
            if filename.endswith('.json'):
                json_files.append(os.path.join(subdir_path, filename))

In [2]:
for json_file in json_files:
    print(json_file)

../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230811T1442500900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230813T1251320900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230815T0906420900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230815T0854060900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230815T0855210900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230815T0855300900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230815T0904250900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230813T1251290900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230815T0907410900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230810T1415570900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230815T0853580900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230813T1251260900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230811T1442180900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230815T0904260900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230810T1252420900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230815T0907480900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230815T0854270900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230810T1414510900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230813T1251280900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230813T1253460900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230810T1416510900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230813T1251310900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230810T1418340900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230815T0858320900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230813T1251300900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230810T1351070900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230810T1317470900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230810T1413160900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230810T1418390900.json
../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230810T1351120900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101480900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101190900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101100900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1100470900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101070900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1102080900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101370900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101550900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101580900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1100460900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101560900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1100410900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1100490900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1100450900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101440900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101310900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101360900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1100590900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1102030900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101430900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101140900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1100480900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101520900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101570900.json
../../salmon_segmentation/out/2.라벨링데이터/03-성어-송어사료급이/T3AT-20230810T1101300900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114420900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114500900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114510900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1115160900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114130900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114150900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114590900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1115150900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114430900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114470900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114410900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1115240900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1115210900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1115180900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114120900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114360900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114540900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114390900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114330900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114350900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1115140900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114400900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114190900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1115170900.json
../../salmon_segmentation/out/2.라벨링데이터/04-성어-연어사료급이/T4AS-20230810T1114380900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1052320900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1309220900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255440900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1311320900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1052170900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1052480900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255270900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1157360900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1335250900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255250900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255380900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255220900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1335210900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1135000900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255450900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255420900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1052310900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255180900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255360900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255240900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255190900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1335230900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255400900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1335160900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1255390900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1317260900.json
../../salmon_segmentation/out/2.라벨링데이터/01-치어-송어사료급이/T1FT-20230810T1335220900.json

In [3]:
# json file print
for json_file in json_files:
    with open(json_file, 'r', encoding='utf-8') as f:
        data = json.load(f)
        print(f"Contents of {json_file}:\n")
        print(json.dumps(data, indent=4, ensure_ascii=False))
        print("-" * 50)
    break

Contents of ../../salmon_segmentation/out/2.라벨링데이터/02-치어-연어사료급이/T2FS-20230811T1442500900.json:

{
    "id": 5286,
    "info": {
        "name": "북태평양 연어",
        "name_en": "Chum Salmon",
        "scientific_name": "Oncorhynchus Keta",
        "worker_id": 45
    },
    "category": {
        "id": 1,
        "name": "치어",
        "name_en": "Fry",
        "code": "F",
        "age": {
            "min": 7,
            "max": 12,
            "unit": "months"
        }
    },
    "farm": {
        "id": 1,
        "name": "경상북도 수산자원연구원",
        "address": "경북 영덕군 병곡면 고래불로 178",
        "location": {
            "latitude": 36.5793871,
            "longitude": 129.413785
        }
    },
    "tank": {
        "id": 2,
        "farm_id": 1,
        "name": "2번 수조",
        "type": "유수식",
        "size": {
            "radius": 520,
            "height": 120,
            "unit": "cm"
        }
    },
    "growth_management": {
        "id": 1,
        "created_at": "",
        "feed": [
            {
                "type": "연어사료",
                "nutrition": {
                    "protein": "45%",
                    "fat": "12%"
                },
                "size": {
                    "name": "2호",
                    "size": 2,
                    "unit": "mm"
                },
                "amount": {
                    "value": 500,
                    "unit": "g"
                },
                "at": "2023-08-11T09:00:00+09:00"
            },
            {
                "type": "연어사료",
                "nutrition": {
                    "protein": "45%%",
                    "fat": "12%%"
                },
                "size": {
                    "name": "2호",
                    "size": 2,
                    "unit": "mm"
                },
                "amount": {
                    "value": 500,
                    "unit": "g"
                },
                "at": "2023-08-11T09:00:00+16:00"
            }
        ],
        "water": {
            "ammonium": {
                "value": 0,
                "unit": "mg/L"
            },
            "nitrite": {
                "value": 0,
                "unit": "mg/L"
            },
            "nitrate": {
                "value": 0,
                "unit": "mg/L"
            },
            "MeasuredAt": "2023-08-11T14:42:50+09:00"
        }
    },
    "water": {
        "temperature": {
            "value": 15,
            "unit": "celsius"
        },
        "salinity": {
            "value": 12.1,
            "unit": "ppt"
        },
        "do": {
            "value": 12.1,
            "unit": "mg/l"
        },
        "ph": {
            "value": 12.1,
            "unit": "pH"
        },
        "orp": {
            "value": 1000,
            "unit": "mV"
        },
        "illuminance": {
            "value": 800,
            "unit": "lux"
        },
        "measured_at": "2023-08-11T14:42:50+09:00"
    },
    "sampling": [],
    "image": {
        "file": {
            "name": "T2FS-20230811T1442500900.jpg",
            "format": "jpg"
        },
        "resolution": {
            "width": 2448,
            "height": 2048,
            "unit": "px"
        },
        "camera": {
            "iso": 28,
            "aperture": 2.8,
            "shutter": {
                "speed": 4003.84,
                "unit": "ev"
            }
        },
        "farm_id": 1,
        "tank_id": 2,
        "created_at": "2023-08-11T14:42:50+09:00"
    },
    "annotations": [
        {
            "id": 1,
            "category_id": 1,
            "biomass": {
                "size": {
                    "length": 0,
                    "depth": 0,
                    "unit": "mm"
                }
            },
            "bounding_box": [
                1160,
                414,
                502,
                120
            ]
        },
        {
            "id": 2,
            "category_id": 1,
            "biomass": {
                "size": {
                    "length": 0,
                    "depth": 0,
                    "unit": "mm"
                }
            },
            "bounding_box": [
                290,
                323,
                1886,
                800
            ]
        },
        {
            "id": 3,
            "category_id": 1,
            "biomass": {
                "size": {
                    "length": 0,
                    "depth": 0,
                    "unit": "mm"
                }
            },
            "bounding_box": [
                120,
                1289,
                553,
                125
            ]
        },
        {
            "id": 4,
            "category_id": 1,
            "biomass": {
                "size": {
                    "length": 0,
                    "depth": 0,
                    "unit": "mm"
                }
            },
            "bounding_box": [
                1248,
                1433,
                1199,
                267
            ]
        },
        {
            "id": 5,
            "category_id": 1,
            "biomass": {
                "size": {
                    "length": 0,
                    "depth": 0,
                    "unit": "mm"
                }
            },
            "bounding_box": [
                946,
                118,
                1037,
                325
            ]
        },
        {
            "id": 6,
            "category_id": 1,
            "biomass": {
                "size": {
                    "length": 0,
                    "depth": 0,
                    "unit": "mm"
                }
            },
            "bounding_box": [
                340,
                372,
                751,
                148
            ]
        }
    ],
    "segmentation_bitmap": {
        "name": "T2FS-20230811T1442500900.png"
    }
}
--------------------------------------------------

In [35]:
# json data to dataframe
df = pd.json_normalize(data)
df

,id,sampling,annotations,info.name,info.name_en,info.scientific_name,info.worker_id,category.id,category.name,category.name_en,...,image.resolution.height,image.resolution.unit,image.camera.iso,image.camera.aperture,image.camera.shutter.speed,image.camera.shutter.unit,image.farm_id,image.tank_id,image.created_at,segmentation_bitmap.name
0,2122,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,48,1,치어,Fry,...,2048,px,28,2.8,4003.84,ev,1,1,2023-08-10T13:35:22+09:00,T1FT-20230810T1335220900.png

In [5]:
# 전체 데이터 append
all_data = pd.DataFrame()
for json_file in json_files:
    with open(json_file, 'r', encoding='utf-8') as f:
        data = json.load(f)
        df = pd.json_normalize(data)
        all_data = all_data.append(df, ignore_index=True)
all_data

<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)

<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)
<ipython-input-5-31e140ab3d2f>:11: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  all_data = all_data.append(df, ignore_index=True)

,id,sampling,annotations,info.name,info.name_en,info.scientific_name,info.worker_id,category.id,category.name,category.name_en,...,image.resolution.height,image.resolution.unit,image.camera.iso,image.camera.aperture,image.camera.shutter.speed,image.camera.shutter.unit,image.farm_id,image.tank_id,image.created_at,segmentation_bitmap.name
0,5286,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,45,1,치어,Fry,...,2048,px,28,2.8,4003.84,ev,1,2,2023-08-11T14:42:50+09:00,T2FS-20230811T1442500900.png
1,6562,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,46,1,치어,Fry,...,2048,px,28,2.8,4003.84,ev,1,2,2023-08-13T12:51:32+09:00,T2FS-20230813T1251320900.png
2,7146,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,48,1,치어,Fry,...,2048,px,25,2.8,4003.84,ev,1,2,2023-08-15T09:06:42+09:00,T2FS-20230815T0906420900.png
3,7109,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,47,1,치어,Fry,...,2048,px,25,2.8,4003.84,ev,1,2,2023-08-15T08:54:06+09:00,T2FS-20230815T0854060900.png
4,7121,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,47,1,치어,Fry,...,2048,px,25,2.8,4003.84,ev,1,2,2023-08-15T08:55:21+09:00,T2FS-20230815T0855210900.png
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,2115,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,47,1,치어,Fry,...,2048,px,28,2.8,4003.84,ev,1,1,2023-08-10T12:55:40+09:00,T1FT-20230810T1255400900.png
103,2120,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,48,1,치어,Fry,...,2048,px,28,2.8,4003.84,ev,1,1,2023-08-10T13:35:16+09:00,T1FT-20230810T1335160900.png
104,2114,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,47,1,치어,Fry,...,2048,px,28,2.8,4003.84,ev,1,1,2023-08-10T12:55:39+09:00,T1FT-20230810T1255390900.png
105,5,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,43,1,치어,Fry,...,2048,px,28,2.8,4003.84,ev,1,1,2023-08-10T13:17:26+09:00,T1FT-20230810T1317260900.png
106,2122,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,48,1,치어,Fry,...,2048,px,28,2.8,4003.84,ev,1,1,2023-08-10T13:35:22+09:00,T1FT-20230810T1335220900.png

In [6]:
# 데이터 column 확인
all_data.columns

Index(['id', 'sampling', 'annotations', 'info.name', 'info.name_en',
       'info.scientific_name', 'info.worker_id', 'category.id',
       'category.name', 'category.name_en', 'category.code',
       'category.age.min', 'category.age.max', 'category.age.unit', 'farm.id',
       'farm.name', 'farm.address', 'farm.location.latitude',
       'farm.location.longitude', 'tank.id', 'tank.farm_id', 'tank.name',
       'tank.type', 'tank.size.radius', 'tank.size.height', 'tank.size.unit',
       'growth_management.id', 'growth_management.created_at',
       'growth_management.feed', 'growth_management.water.ammonium.value',
       'growth_management.water.ammonium.unit',
       'growth_management.water.nitrite.value',
       'growth_management.water.nitrite.unit',
       'growth_management.water.nitrate.value',
       'growth_management.water.nitrate.unit',
       'growth_management.water.MeasuredAt', 'water.temperature.value',
       'water.temperature.unit', 'water.salinity.value', 'water.salinity.unit',
       'water.do.value', 'water.do.unit', 'water.ph.value', 'water.ph.unit',
       'water.orp.value', 'water.orp.unit', 'water.illuminance.value',
       'water.illuminance.unit', 'water.measured_at', 'image.file.name',
       'image.file.format', 'image.resolution.width',
       'image.resolution.height', 'image.resolution.unit', 'image.camera.iso',
       'image.camera.aperture', 'image.camera.shutter.speed',
       'image.camera.shutter.unit', 'image.farm_id', 'image.tank_id',
       'image.created_at', 'segmentation_bitmap.name'],
      dtype='object')

In [7]:
# value_count로 내부 값 확인
all_data['info.name'].value_counts()

북태평양 연어    107
Name: info.name, dtype: int64

In [8]:
all_data['category.name'].value_counts()

치어    57
성어    50
Name: category.name, dtype: int64

In [9]:
all_data['category.age.min'].value_counts()

7     57
24    50
Name: category.age.min, dtype: int64

In [10]:
all_data['category.age.max'].value_counts()

12    57
36    50
Name: category.age.max, dtype: int64

In [11]:
all_data['tank.id'].value_counts()

2    30
1    27
3    25
4    25
Name: tank.id, dtype: int64

In [12]:
all_data['tank.type'].value_counts()

유수식    107
Name: tank.type, dtype: int64

In [13]:
all_data['tank.size.radius'].value_counts()

520    107
Name: tank.size.radius, dtype: int64

In [14]:
all_data['growth_management.created_at'].value_counts()

    107
Name: growth_management.created_at, dtype: int64

In [15]:
all_data['growth_management.feed'][0]

[{'type': '연어사료',
  'nutrition': {'protein': '45%', 'fat': '12%'},
  'size': {'name': '2호', 'size': 2, 'unit': 'mm'},
  'amount': {'value': 500, 'unit': 'g'},
  'at': '2023-08-11T09:00:00+09:00'},
 {'type': '연어사료',
  'nutrition': {'protein': '45%%', 'fat': '12%%'},
  'size': {'name': '2호', 'size': 2, 'unit': 'mm'},
  'amount': {'value': 500, 'unit': 'g'},
  'at': '2023-08-11T09:00:00+16:00'}]

In [16]:
all_data['growth_management.water.ammonium.value'].value_counts()

0    107
Name: growth_management.water.ammonium.value, dtype: int64

In [17]:
all_data['growth_management.water.nitrite.value'].value_counts()

0    107
Name: growth_management.water.nitrite.value, dtype: int64

In [18]:
all_data['growth_management.water.nitrate.value'].value_counts()

0    107
Name: growth_management.water.nitrate.value, dtype: int64

In [19]:
all_data['growth_management.water.MeasuredAt'].value_counts()

2023-08-11T14:42:50+09:00    1
2023-08-10T10:52:32+09:00    1
2023-08-10T11:15:17+09:00    1
2023-08-10T11:14:19+09:00    1
2023-08-10T11:14:40+09:00    1
                            ..
2023-08-10T11:01:10+09:00    1
2023-08-10T11:01:19+09:00    1
2023-08-10T11:01:48+09:00    1
2023-08-10T13:51:12+09:00    1
2023-08-10T13:35:22+09:00    1
Name: growth_management.water.MeasuredAt, Length: 107, dtype: int64

In [20]:
all_data['water.temperature.value'].value_counts()

15    107
Name: water.temperature.value, dtype: int64

In [21]:
all_data['water.salinity.value'].value_counts()

12.1    107
Name: water.salinity.value, dtype: int64

In [22]:
all_data['water.do.value'].value_counts()

12.1    107
Name: water.do.value, dtype: int64

In [23]:
all_data['water.ph.value'].value_counts()

12.1    107
Name: water.ph.value, dtype: int64

In [24]:
all_data['water.orp.value'].value_counts()

1000    107
Name: water.orp.value, dtype: int64

In [25]:
all_data['water.illuminance.value'].value_counts()

800    107
Name: water.illuminance.value, dtype: int64

In [26]:
# feed 데이터 처리 dict를 column으로 가져옴
all_data['growth_management.feed_'] = all_data['growth_management.feed'].apply(lambda x: x[0] if isinstance(x, list) and x else {})

feed_df = pd.json_normalize(all_data['growth_management.feed_'])
feed_df.columns = ['feed1_' + str(col) for col in feed_df.columns]
all_data = pd.concat([all_data, feed_df], axis=1)

all_data.drop('growth_management.feed_', axis=1, inplace=True)

all_data.head()

,id,sampling,annotations,info.name,info.name_en,info.scientific_name,info.worker_id,category.id,category.name,category.name_en,...,segmentation_bitmap.name,feed1_type,feed1_at,feed1_nutrition.protein,feed1_nutrition.fat,feed1_size.name,feed1_size.size,feed1_size.unit,feed1_amount.value,feed1_amount.unit
0,5286,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,45,1,치어,Fry,...,T2FS-20230811T1442500900.png,연어사료,2023-08-11T09:00:00+09:00,45%,12%,2호,2,mm,500,g
1,6562,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,46,1,치어,Fry,...,T2FS-20230813T1251320900.png,연어사료,2023-08-13T09:00:00+09:00,45%,12%,2호,2,mm,500,g
2,7146,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,48,1,치어,Fry,...,T2FS-20230815T0906420900.png,연어사료,2023-08-15T09:00:00+09:00,45%,12%,2호,2,mm,500,g
3,7109,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,47,1,치어,Fry,...,T2FS-20230815T0854060900.png,연어사료,2023-08-15T09:00:00+09:00,45%,12%,2호,2,mm,500,g
4,7121,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,47,1,치어,Fry,...,T2FS-20230815T0855210900.png,연어사료,2023-08-15T09:00:00+09:00,45%,12%,2호,2,mm,500,g

In [27]:
all_data['growth_management.feed_'] = all_data['growth_management.feed'].apply(lambda x: x[1] if isinstance(x, list) and x else {})

feed_df = pd.json_normalize(all_data['growth_management.feed_'])
feed_df.columns = ['feed2_' + str(col) for col in feed_df.columns]
all_data = pd.concat([all_data, feed_df], axis=1)

all_data.drop('growth_management.feed_', axis=1, inplace=True)

all_data.head()

,id,sampling,annotations,info.name,info.name_en,info.scientific_name,info.worker_id,category.id,category.name,category.name_en,...,feed1_amount.unit,feed2_type,feed2_at,feed2_nutrition.protein,feed2_nutrition.fat,feed2_size.name,feed2_size.size,feed2_size.unit,feed2_amount.value,feed2_amount.unit
0,5286,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,45,1,치어,Fry,...,g,연어사료,2023-08-11T09:00:00+16:00,45%%,12%%,2호,2,mm,500,g
1,6562,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,46,1,치어,Fry,...,g,연어사료,2023-08-13T09:00:00+16:00,45%%,12%%,2호,2,mm,500,g
2,7146,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,48,1,치어,Fry,...,g,연어사료,2023-08-15T09:00:00+16:00,45%%,12%%,2호,2,mm,500,g
3,7109,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,47,1,치어,Fry,...,g,연어사료,2023-08-15T09:00:00+16:00,45%%,12%%,2호,2,mm,500,g
4,7121,[],"[{'id': 1, 'category_id': 1, 'biomass': {'size...",북태평양 연어,Chum Salmon,Oncorhynchus Keta,47,1,치어,Fry,...,g,연어사료,2023-08-15T09:00:00+16:00,45%%,12%%,2호,2,mm,500,g

In [28]:
all_data.columns

Index(['id', 'sampling', 'annotations', 'info.name', 'info.name_en',
       'info.scientific_name', 'info.worker_id', 'category.id',
       'category.name', 'category.name_en', 'category.code',
       'category.age.min', 'category.age.max', 'category.age.unit', 'farm.id',
       'farm.name', 'farm.address', 'farm.location.latitude',
       'farm.location.longitude', 'tank.id', 'tank.farm_id', 'tank.name',
       'tank.type', 'tank.size.radius', 'tank.size.height', 'tank.size.unit',
       'growth_management.id', 'growth_management.created_at',
       'growth_management.feed', 'growth_management.water.ammonium.value',
       'growth_management.water.ammonium.unit',
       'growth_management.water.nitrite.value',
       'growth_management.water.nitrite.unit',
       'growth_management.water.nitrate.value',
       'growth_management.water.nitrate.unit',
       'growth_management.water.MeasuredAt', 'water.temperature.value',
       'water.temperature.unit', 'water.salinity.value', 'water.salinity.unit',
       'water.do.value', 'water.do.unit', 'water.ph.value', 'water.ph.unit',
       'water.orp.value', 'water.orp.unit', 'water.illuminance.value',
       'water.illuminance.unit', 'water.measured_at', 'image.file.name',
       'image.file.format', 'image.resolution.width',
       'image.resolution.height', 'image.resolution.unit', 'image.camera.iso',
       'image.camera.aperture', 'image.camera.shutter.speed',
       'image.camera.shutter.unit', 'image.farm_id', 'image.tank_id',
       'image.created_at', 'segmentation_bitmap.name', 'feed1_type',
       'feed1_at', 'feed1_nutrition.protein', 'feed1_nutrition.fat',
       'feed1_size.name', 'feed1_size.size', 'feed1_size.unit',
       'feed1_amount.value', 'feed1_amount.unit', 'feed2_type', 'feed2_at',
       'feed2_nutrition.protein', 'feed2_nutrition.fat', 'feed2_size.name',
       'feed2_size.size', 'feed2_size.unit', 'feed2_amount.value',
       'feed2_amount.unit'],
      dtype='object')

In [29]:
# 급이 데이터에서 %로 되어있는 것을 실제 gram으로 변경
all_data['feed1_nutrition.protein'] = all_data['feed1_nutrition.protein'].str.rstrip('%').astype('float') / 100.0
all_data['feed2_nutrition.protein'] = all_data['feed2_nutrition.protein'].str.rstrip('%').astype('float') / 100.0

all_data['feed1_nutrition.fat'] = all_data['feed1_nutrition.fat'].str.rstrip('%').astype('float') / 100.0
all_data['feed2_nutrition.fat'] = all_data['feed2_nutrition.fat'].str.rstrip('%').astype('float') / 100.0

all_data['fee1_protein'] = all_data['feed1_nutrition.protein'] * all_data['feed1_amount.value']
all_data['fee2_protein'] = all_data['feed2_nutrition.protein'] * all_data['feed2_amount.value']

all_data['fee1_fat'] = all_data['feed1_nutrition.fat'] * all_data['feed1_amount.value']
all_data['fee2_fat'] = all_data['feed2_nutrition.fat'] * all_data['feed2_amount.value']

In [31]:
# time stamp 처리 : 일 단위로 변경
all_data['growth_management.water.MeasuredAt'] = pd.to_datetime(all_data['growth_management.water.MeasuredAt'])
all_data['growth_management.water.MeasuredAt'] = all_data['growth_management.water.MeasuredAt'].dt.date
all_data['growth_management.water.MeasuredAt'].value_counts()

2023-08-10    87
2023-08-15    11
2023-08-13     7
2023-08-11     2
Name: growth_management.water.MeasuredAt, dtype: int64

In [32]:
# 실제 사용하는 데이터만 가져옴 
cleaned_data = all_data[['category.name' , 'category.age.min' , 'category.age.max' , 'tank.id' , 
                         'growth_management.water.ammonium.value' , 'growth_management.water.nitrite.value' , 
                         'growth_management.water.nitrate.value' , 'growth_management.water.MeasuredAt' , 
                         'water.temperature.value' , 'water.salinity.value' , 'water.do.value' , 'water.ph.value' , 'water.orp.value',
                          'water.illuminance.value' , 'fee1_protein' , 'fee2_protein' , 'fee1_fat' , 'fee2_fat']]
cleaned_data

,category.name,category.age.min,category.age.max,tank.id,growth_management.water.ammonium.value,growth_management.water.nitrite.value,growth_management.water.nitrate.value,growth_management.water.MeasuredAt,water.temperature.value,water.salinity.value,water.do.value,water.ph.value,water.orp.value,water.illuminance.value,fee1_protein,fee2_protein,fee1_fat,fee2_fat
0,치어,7,12,2,0,0,0,2023-08-11,15,12.1,12.1,12.1,1000,800,225.0,225.0,60.0,60.0
1,치어,7,12,2,0,0,0,2023-08-13,15,12.1,12.1,12.1,1000,800,225.0,225.0,60.0,60.0
2,치어,7,12,2,0,0,0,2023-08-15,15,12.1,12.1,12.1,1000,800,225.0,225.0,60.0,60.0
3,치어,7,12,2,0,0,0,2023-08-15,15,12.1,12.1,12.1,1000,800,225.0,225.0,60.0,60.0
4,치어,7,12,2,0,0,0,2023-08-15,15,12.1,12.1,12.1,1000,800,225.0,225.0,60.0,60.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102,치어,7,12,1,0,0,0,2023-08-10,15,12.1,12.1,12.1,1000,800,225.0,225.0,60.0,60.0
103,치어,7,12,1,0,0,0,2023-08-10,15,12.1,12.1,12.1,1000,800,225.0,225.0,60.0,60.0
104,치어,7,12,1,0,0,0,2023-08-10,15,12.1,12.1,12.1,1000,800,225.0,225.0,60.0,60.0
105,치어,7,12,1,0,0,0,2023-08-10,15,12.1,12.1,12.1,1000,800,225.0,225.0,60.0,60.0
106,치어,7,12,1,0,0,0,2023-08-10,15,12.1,12.1,12.1,1000,800,225.0,225.0,60.0,60.0

In [33]:
cleaned_data.columns

Index(['category.name', 'category.age.min', 'category.age.max', 'tank.id',
       'growth_management.water.ammonium.value',
       'growth_management.water.nitrite.value',
       'growth_management.water.nitrate.value',
       'growth_management.water.MeasuredAt', 'water.temperature.value',
       'water.salinity.value', 'water.do.value', 'water.ph.value',
       'water.orp.value', 'water.illuminance.value', 'fee1_protein',
       'fee2_protein', 'fee1_fat', 'fee2_fat'],
      dtype='object')

In [34]:
# groupby를 이용해서 날짜 , 치어/성어 , 수조 별로 mean으로 변경
cleaned_data.groupby(['growth_management.water.MeasuredAt' , 'category.name' , 'tank.id']).mean()

                                                          category.age.min  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3                    24.0
                                                 4                    24.0
                                   치어            1                     7.0
                                                 2                     7.0
2023-08-11                         치어            2                     7.0
2023-08-13                         치어            2                     7.0
2023-08-15                         치어            2                     7.0

                                                          category.age.max  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3                    36.0
                                                 4                    36.0
                                   치어            1                    12.0
                                                 2                    12.0
2023-08-11                         치어            2                    12.0
2023-08-13                         치어            2                    12.0
2023-08-15                         치어            2                    12.0

                                                          growth_management.water.ammonium.value  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3                                           0.0
                                                 4                                           0.0
                                   치어            1                                           0.0
                                                 2                                           0.0
2023-08-11                         치어            2                                           0.0
2023-08-13                         치어            2                                           0.0
2023-08-15                         치어            2                                           0.0

                                                          growth_management.water.nitrite.value  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3                                          0.0
                                                 4                                          0.0
                                   치어            1                                          0.0
                                                 2                                          0.0
2023-08-11                         치어            2                                          0.0
2023-08-13                         치어            2                                          0.0
2023-08-15                         치어            2                                          0.0

                                                          growth_management.water.nitrate.value  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3                                          0.0
                                                 4                                          0.0
                                   치어            1                                          0.0
                                                 2                                          0.0
2023-08-11                         치어            2                                          0.0
2023-08-13                         치어            2                                          0.0
2023-08-15                         치어            2                                          0.0

                                                          water.temperature.value  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3                           15.0
                                                 4                           15.0
                                   치어            1                           15.0
                                                 2                           15.0
2023-08-11                         치어            2                           15.0
2023-08-13                         치어            2                           15.0
2023-08-15                         치어            2                           15.0

                                                          water.salinity.value  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3                        12.1
                                                 4                        12.1
                                   치어            1                        12.1
                                                 2                        12.1
2023-08-11                         치어            2                        12.1
2023-08-13                         치어            2                        12.1
2023-08-15                         치어            2                        12.1

                                                          water.do.value  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3                  12.1
                                                 4                  12.1
                                   치어            1                  12.1
                                                 2                  12.1
2023-08-11                         치어            2                  12.1
2023-08-13                         치어            2                  12.1
2023-08-15                         치어            2                  12.1

                                                          water.ph.value  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3                  12.1
                                                 4                  12.1
                                   치어            1                  12.1
                                                 2                  12.1
2023-08-11                         치어            2                  12.1
2023-08-13                         치어            2                  12.1
2023-08-15                         치어            2                  12.1

                                                          water.orp.value  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3                 1000.0
                                                 4                 1000.0
                                   치어            1                 1000.0
                                                 2                 1000.0
2023-08-11                         치어            2                 1000.0
2023-08-13                         치어            2                 1000.0
2023-08-15                         치어            2                 1000.0

                                                          water.illuminance.value  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3                          800.0
                                                 4                          800.0
                                   치어            1                          800.0
                                                 2                          800.0
2023-08-11                         치어            2                          800.0
2023-08-13                         치어            2                          800.0
2023-08-15                         치어            2                          800.0

                                                          fee1_protein  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3               225.0
                                                 4               225.0
                                   치어            1               225.0
                                                 2               225.0
2023-08-11                         치어            2               225.0
2023-08-13                         치어            2               225.0
2023-08-15                         치어            2               225.0

                                                          fee2_protein  \
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3               225.0
                                                 4               225.0
                                   치어            1               225.0
                                                 2               225.0
2023-08-11                         치어            2               225.0
2023-08-13                         치어            2               225.0
2023-08-15                         치어            2               225.0

                                                          fee1_fat  fee2_fat
growth_management.water.MeasuredAt category.name tank.id
2023-08-10                         성어            3            60.0      60.0
                                                 4            60.0      60.0
                                   치어            1            60.0      60.0
                                                 2            60.0      60.0
2023-08-11                         치어            2            60.0      60.0
2023-08-13                         치어            2            60.0      60.0
2023-08-15                         치어            2            60.0      60.0