In [3]:
import pandas as pd
data = pd.read_csv('target_data.csv')
data

    수조번호        time 생육상태       어류번호      길이(mm)        무게(g)
0      3  2022-08-12   치어  25.500000   75.820000     4.050000
1      3  2022-09-02   치어  25.125000   85.208333     6.391667
2      3  2022-09-23   치어  25.500000   99.000000     8.560000
3      3  2022-10-14   치어  25.500000  108.600000    16.380000
4      3  2022-11-04   치어  25.500000  110.400000    17.920000
5      3  2022-11-25   치어  40.846154  113.717949    17.038462
6      4  2022-08-12   치어  25.500000   74.740000     3.716000
7      4  2022-09-02   치어  25.500000   79.780000     5.352000
8      4  2022-09-23   치어  25.500000  100.500000     8.960000
9      4  2022-10-14   치어  25.500000  104.200000    14.940000
10     4  2022-11-04   치어  25.500000  104.900000    14.920000
11     4  2022-11-25   치어  43.476190  103.988095    14.047619
12     9  2022-08-12  육성어   5.500000  500.000000  2329.800000
13     9  2022-09-02  육성어   5.500000  494.000000  1491.800000
14     9  2022-09-23  육성어   5.500000  513.000000  1807.000000
15     9  2022-10-14  육성어   5.500000  564.000000          NaN
16     9  2022-11-11  육성어   8.000000  554.000000  2143.066667
17     9  2022-11-25  육성어   8.000000  575.000000  2516.266667
18    10  2022-08-12  육성어   5.500000  519.000000  1795.200000
19    10  2022-09-02  육성어   5.500000  510.000000  1560.000000
20    10  2022-09-23  육성어   5.500000  504.000000  1760.800000
21    10  2022-10-14  육성어   5.500000  572.000000          NaN
22    10  2022-11-11  육성어   8.000000  568.666667  2438.866667
23    10  2022-11-25  육성어   8.000000  587.666667  2810.400000

In [6]:
time_data = data.groupby(['time','생육상태']).mean()
time_data.reset_index(inplace=True)
time_data

          time 생육상태  수조번호       어류번호      길이(mm)        무게(g)
0   2022-08-12  육성어   9.5   5.500000  509.500000  2062.500000
1   2022-08-12   치어   3.5  25.500000   75.280000     3.883000
2   2022-09-02  육성어   9.5   5.500000  502.000000  1525.900000
3   2022-09-02   치어   3.5  25.312500   82.494167     5.871833
4   2022-09-23  육성어   9.5   5.500000  508.500000  1783.900000
5   2022-09-23   치어   3.5  25.500000   99.750000     8.760000
6   2022-10-14  육성어   9.5   5.500000  568.000000          NaN
7   2022-10-14   치어   3.5  25.500000  106.400000    15.660000
8   2022-11-04   치어   3.5  25.500000  107.650000    16.420000
9   2022-11-11  육성어   9.5   8.000000  561.333333  2290.966667
10  2022-11-25  육성어   9.5   8.000000  581.333333  2663.333333
11  2022-11-25   치어   3.5  42.161172  108.853022    15.543040

In [7]:
for types in time_data['생육상태'].unique():
    type_data = time_data[time_data['생육상태'] == types]
    type_data

In [8]:
type_data

          time 생육상태  수조번호       어류번호      길이(mm)      무게(g)
1   2022-08-12   치어   3.5  25.500000   75.280000   3.883000
3   2022-09-02   치어   3.5  25.312500   82.494167   5.871833
5   2022-09-23   치어   3.5  25.500000   99.750000   8.760000
7   2022-10-14   치어   3.5  25.500000  106.400000  15.660000
8   2022-11-04   치어   3.5  25.500000  107.650000  16.420000
11  2022-11-25   치어   3.5  42.161172  108.853022  15.543040